body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.instructions {
  animation: instructions-animation 7.5s;
  animation-fill-mode: forwards;
  background-color: #000;
  border-radius: 1rem;
  color: #fff;
  cursor: default;
  font-weight: 900;
  left: 1rem;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  text-transform: uppercase;
  top: 1rem;
  user-select: none;
}

@keyframes instructions-animation {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  10% {
    transform: translateX(0);
  }
  15% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
